.brand-box {
  max-width: 300px; }

.inner.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .inner.brands a {
    color: #222;
    display: block;
    text-decoration: none;
    transition: none;
    -webkit-transition: none; }
  .inner.brands .brand_list {
    height: 400px;
    min-width: 180px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden; }
    .inner.brands .brand_list .brand_group {
      margin-bottom: 14px; }
      .inner.brands .brand_list .brand_group .heading {
        font-weight: bold; }

.inner .brand_group_names {
  text-align: center;
  width: 75px;
  padding: 0px 10px;
  font-size: 12px;
  text-transform: uppercase; }

.inner .brand_group_names .all {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 14px; }

.inner .brand_group_names .brand_group_name {
  cursor: pointer;
  font-size: 13px; }
  .inner .brand_group_names .brand_group_name:hover {
    color: #DE006E; }

.brands-menu-wrap .sub-menu.menu-odd.menu-depth-1 {
  margin-top: 0;
  width: 300px;
  opacity: 1;
  right: 0;
  left: auto;
  padding-top: 10px;
  transition: none;
  -webkit-transition: none; }
